@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body {
    padding: 0;
    margin: 0;
    background-color: #262D63;
    font-family: 'Slabo 27px', serif;
}

header {
    
}

.titulo {
    padding: 10px 0 0 0;
    color: white;
    width: 50%;
    text-align: center;
}

.logo {
    width: 120px;
}

.fl {float: left} 
.fr {float: right} 
.wd100 {width: 100%;}

.panel {
    width: 95%;
    border-radius: 15px;
    margin: auto;
    background-color: white;
    box-sizing: border-box;
}

.panel-inf {
    padding: 9px;
    /*border: .5px solid white;*/
}    

.row {
    padding: 10px;
}

.msn-panel {
    min-height: 300px;
    margin-bottom: 7px;
    margin-top: 3px;
    padding: 4px;
    /*overflow-y: scroll;*/
}

input, textarea {
    border: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}

input#submit {
    width: 100%;
    background: #7A81A7;
    padding: 5px 0;
    cursor: pointer;
}

textarea#mensagem {
    border: 1px solid black;
    height: 60px;
}

input#nickname {
    border-bottom: 1px solid;
}

img {
    padding: 3px 15px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}