<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Trabalho unisinos</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/efeitos.css">
  </head>
  <body>
    <div class="all" id="all" style="display: none;"></div>
    
    <div class="frame fade-in" id="frame_configuracoes" style="display: none;">
      <div class="row">
        <h3 class="no-p-m">Informações do usuário:</h3>
      </div>
      <div class="row">
        <label for="nickname">Nome: </label>
        <input type="text" class="" value="" placeholder="" id="nickname" name="nickname">
      </div>
      <div class="row">
        <label for="foto">Foto: </label>
        <input type="file" class="" value="" placeholder="" id="foto" name="foto">
      </div>
      <div class="row">
        <input type="button" class="" name="save" id="save-configuracoes" value="Salvar" />
      </div>      
    </div>
    
    <div class="frame fade-in" id="frame_pessoas" style="display: none;">
      <ul id="lista_pessoas">
      </ul>
    </div>
    
    
    <div class="new-user" style="display: none;" id="new-user"></div>
    <header>
      <div class="icon-menu">
        <button>Menu</button>
        <div style="clear: both"></div>
      </div>
      <img src="./imagens/logo.gif" alt="Unisinos" class="fl logo">
      <div class="fr titulo">Redes de Computadores I</div>      
      <div style="clear: both"></div>
    </header>
    <nav>
      <ul>
        <li id="configuracoes">Configurações</li>
        <li id="pessoas">Pessoas</li>
      </ul>
    </nav>
    <div class="panel msn-panel">
      <div id="mensagens"></div>
      <div style="clear: left"></div>
    </div>
    <div class="panel panel-inf">
      <div class="row">
        <textarea class="wd100" value="" placeholder="" id="mensagem" name="mensagem"></textarea>
        <input type="button" class="" name="submit" id="submit" value="enviar" />
      </div>
      <div style="clear: left"></div>
    </div>
    
    <footer>by Douglas Gass</footer>
  </body>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="./js/socket-init.js"></script>
  <script src="./js/onload.js"></script>
  <script src="./js/buttons-functions.js" async></script>
  <script src="./js/chat-functions.js" async></script>
</html>